# Dependencias
node_modules/

# Build
dist/
build/

# Variaveis de ambiente
.env
.env.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Banco de dados
*.db